@import url('https://fonts.googleapis.com/css?family=Knewave');

*{
    font-family: 'Knewave', cursive;
}

.header{
  position: fixed;
  z-index: 99999999;
  width: 100%;

}

nav img {
  height: 50px;
  width: 250px
}

a {
  color: #f8b500 !important;
}

.navbar {
  background-color: #1F2226;
  color: #f8b500;
}

.navbar-toggler {
  background-color: #f8b500;
  border: 1px solid #f8b500;
  color:#1F2226;
  text-align: center;
  padding: 0 auto;
}

