.footer-copyright{
	background-color: #1F2226;
	color: white;
}

div{
	background-color: #1F2226;
	height: 80px;
	margin-top: 50px;
}

footer a{
	display: block;
	width: 30px;
	height: 30px;
}

fa{
	color:#f8b500;
}
