<div>

  <ul class="list-unstyled list-inline text-center ">

    <li class="list-inline-item">
      <a href="https://www.facebook.com/losarrastraos.motoclub" class="mt-5 fa-2x mr-4">
        <fa name="fab fa-facebook-f fa-lg white-text"> </fa>
      </a>
    </li>
   
    <li class="list-inline-item">
      <a href="https://www.instagram.com/los_arrastraos/" class="mt-5 fa-2x ml-4">
        <fa name="fab fa-instagram fa-lg white-text"> </fa>
      </a>
    </li>

  </ul>

  <div class="footer-copyright text-center pt-5">© 2019 Copyright: Héctor Fraguas</div>

</div>


