@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Cuprum:400,700');

/* font-family: 'Knewave', cursive; */
/* font-family: 'Baloo Chettan', cursive; */


*{
    color:white;
}

.cuadro{
    border: 2px solid #FFC312;
    background-color: #1F2226;
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.foto{
    background-color: #FFC312;
    color: black;
    border: black;
    cursor: pointer;
    border-radius: .25rem;
}

h5{
    color:#FFC312 ;
    font-family: 'Baloo Chettan', cursive;
}

p{
    font-family: 'Baloo Chettan', cursive;
}

label{
    font-family: 'Baloo Chettan', cursive;
}

button{
    background-color: #FFC312;
    color: black;
    border: black;
    cursor: pointer;
    border-radius: .25rem;
    width: 200px;
    font-family: 'Knewave', cursive;
    
}

.cerrarSesion{
    background-color: #FFC312;
    color: black;
    border: black;
    cursor: pointer;
    border-radius: .25rem;
    width: 200px;
    font-family: 'Knewave', cursive;
    width: 150px;
    height: 50px;
}

input{
    width: 300px;
    color:black;
}

.inputFoto{
    color:white;
    border: 1px solid #FFC312;
    border-radius: .25rem;
    font-family: 'Baloo Chettan', cursive;
}

