*{
    color:white;
}

.cuadro{
    border: 2px solid #FFC312;
}

img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.foto{
    background-color: #FFC312;
    color: black;
    border: black;
    cursor: pointer;
    border-radius: .25rem;
}

h5{
    color:#FFC312 ;
}

button{
    background-color: #FFC312;
    color: black;
    border: black;
    cursor: pointer;
    border-radius: .25rem;
    width: 200px;
    
}

input{
    width: 300px;
    color:black;
}

.inputFoto{
    color:white;
    border: 1px solid #FFC312;
    border-radius: .25rem;
}

