<div class="container">

  <h2>QUIENES SOMOS</h2>

  <div class="row">

    <div class="hero mx-auto">
      <img class="fotoCabecera" src="../../assets/banner3.png" alt="">
    </div>

  </div>

  <p class="col-xl-12 col-md-8 col-xs-12 mx-auto">Los Arrastraos nace en 2012 en Alcalá de Henares de la mano de 4
    amigos amantes de las motos y aficionados a las rutas y rodadas en circuito.<br>
    Organizamos y colaboramos en eventos, reuniones y rutas en moto, normalmente por la zona de Madrid y Guadalajara,
    para disfrutar de curvas y carreteras tranquilas y secundarias... y si además comemos bien, mejor! <br>
    Si quieres unirte a nosotros, eres Bienvenido!</p>

  <h3 class="mt-5 mb-4">MIEMBROS</h3>

  <div class="row">

    <div class="col-xl-4 col-md-6 col-xs-12 text-center" *ngFor="let miem of miembros">

      <div class="borrar mb-3">
        <button type="submit" (click)="borrarSocio(miem.id)" *ngIf="tokenAdmin == tokenLocal">Borrar</button>
      </div>

      <img class="foto" src="{{miem.foto}}">

      <h4 class="text-center mt-3">{{miem.nombrePersona}}</h4>
      <h5 class="text-center">{{miem.cargo}}</h5>
      <h5 class="moto text-center mb-5">{{miem.moto}}</h5>

    </div>

  </div>

  <div class="row">
    <div class="mx-auto mt-5 mb-5">
    <button [routerLink]="['/formulario-miembro']" *ngIf="tokenAdmin == tokenLocal">Añadir socio</button>
  </div>

    
  </div>

</div>
