@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Cuprum:400,700');

/* font-family: 'Knewave', cursive; */
/* font-family: 'Baloo Chettan', cursive; */

h2{
    color: #1F2226;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    font-family: 'Knewave', cursive;
}

h3{
  color: #f8b500;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}

h4{
  color:#1F2226;
  font-family: 'Knewave', cursive;
}

h5{
  color:#1F2226;
  font-family: 'Baloo Chettan', cursive;
}

.hero {
  background-size: cover;
  margin-bottom: 50px;

}

.fotoCabecera{
  width: 100%;
}

.container-fluid{
    background-color: #1F2226;
}



.foto{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

p{
  color:white;
  font-size: 25px;
}

button{
    width: 180px;
    height: 40px;
    background-color:#FFC312;
    color:black;
    border: 0px;
    border-radius: .25rem; 
    cursor: pointer;
    font-family: 'Knewave', cursive;
}
