<div class="container">

  <h2>SOCIOS DEL CLUB</h2>

  <div class="row">

    <div class="hero mx-auto">
      <img class="fotoCabecera" src="../../assets/banner3.png" alt="">
    </div>

  </div>

  <div class="row">

    <div class="col-xl-4 col-md-6 col-xs-12 text-center" *ngFor="let miem of miembros">

      <div class="borrar mb-3">
        <button type="submit" (click)="borrarSocio(miem.id)" *ngIf="tokenAdmin == tokenLocal">Borrar</button>
      </div>

      <img class="foto" src="{{miem.foto}}">

      <h4 class="text-center mt-3">{{miem.nombrePersona}}</h4>
      <h5 class="text-center">{{miem.cargo}}</h5>
      <h5 class="text-center mb-5">{{miem.moto}}</h5>

    </div>

  </div>

  <div class="row">
    <div class="mx-auto mt-5 mb-5">
    <button [routerLink]="['/formulario-miembro']" *ngIf="tokenAdmin == tokenLocal">Añadir socio</button>
  </div>

    
  </div>

</div>
