<div class="container">

  <div class="row mt-4">

    <div class=" cuadro col-xl-12 col-ml-8 col-xs-6 mx-auto mb-3">

      <div>

        <h3 class="text-center mt-3 mb-3">{{ ruta?.titulo }}</h3>

        <label>Provincia: </label> <span class="arr">{{ ruta?.provincia }}</span> <br>

        <label>Lugar de salida: </label> <span class="arr">{{ ruta?.salida }}</span> <br>

        <label>Lugar de llegada: </label> <span class="arr">{{ ruta?.llegada }} </span> <br>

        <label>Tipo de ruta: </label> <span class="arr">{{ ruta?.tipoRuta }}</span> <br>

        <label>Descripcion de la ruta: </label> <span class="arr">{{ ruta?.descripcion }}</span> <br>

        <label>Duración de la ruta: </label> <span class="arr">{{ duracion }}</span> <br>

        <label>Distancia de la ruta: </label> <span class="arr">{{ distancia }}</span> <br>


        <!-- div de google maps -->
        <div class="row justify-content-center map">
          <div class="maps col-8 mt-3 mb-3" #googleMap style='width:600px; height:500px'>
          </div>
        </div>
        <!-- hasta aqui mapa de google -->


        <button class="eliminar mb-2 mt-3" (click)="eliminarRuta(ruta?.idRuta)" *ngIf="ruta?.token == tokenUsuario">Eliminar
          Ruta</button>

      </div>

    </div>

  </div>


  <div class="row mt-4">

    <h3 *ngIf="!ruta?.comentarios.length == 0">COMENTARIOS</h3>

    <div class=" cajaComentarios col-xl-12 col-ml-8 col-xs-6 mx-auto mb-3" *ngFor="let coment of ruta?.comentarios">

      <div class="nombreComen mt-2">{{ coment?.usuarioComentario }}</div>
      <div class="comentario mb-2">{{ coment?.comentario }}</div>
      <div class="text-right">
        <button class="botonborrarcoment mb-2 mt-2" *ngIf="coment?.tokenUsuario == tokenUsuario" (click)="borrarComentario(coment?.idComentario)">Borrar comentario</button>
      </div>

    </div>

  </div>

</div>

<div class="cajaIntroducirComen" *ngIf=this.registrarseService.comprobarToken()>

  <h5 class="tituloComen mt-2 mb-3">AGREGA TU COMENTARIO</h5>

  <textarea cols="30" rows="10" maxlength="400" #mensaje></textarea>

  <button class="botonComen mt-4" (click)="enviarComentario(mensaje.value)">Enviar Comentario</button>

</div>
