<div class="container">

  <div class="row mt-4">

    <div  class=" cuadro col-xl-12 col-ml-8 col-xs-6 mx-auto mb-3">

      <div>

        <h3 class="text-center">{{ ruta?.titulo }}</h3>

        <label>Provincia: </label> <span class="arr">{{ ruta?.provincia }}</span> <br>

        <label>Lugar de salida: </label> <span class="arr">{{ ruta?.salida }}</span> <br>

        <label>Lugar de llegada: </label> <span class="arr">{{ ruta?.llegada }} </span> <br>

        <label>Tipo de ruta: </label> <span class="arr">{{ ruta?.tipoRuta }}</span> <br>

        <label>Descripcion de la ruta: </label> <span class="arr">{{ ruta?.descripcion }}</span> <br>

        <div class="google mx-auto mt-4 mb-3"></div>

        <button class="eliminar mb-2 mt-3" (click)="eliminarRuta(ruta?.id)" *ngIf="ruta?.token == tokenUsuario">Eliminar Ruta</button>

      </div>
      

    </div>

  </div>

</div>

