@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Cuprum:400,700');

/* font-family: 'Knewave', cursive; */
/* font-family: 'Baloo Chettan', cursive; */

label{
    color: #1F2226;
    font-family: 'Baloo Chettan', cursive;
}
h2{
    color:#1F2226 ;
    font-family: 'Knewave', cursive;
}

button{
    width: 220px;
    height: 40px;
    background-color:#FFC312;
    color:#1F2226;
    border: 0px;
    border-radius: .25rem; 
    cursor: pointer;
    font-family: 'Knewave', cursive;
}

input{
    border: 1px solid #1F2226;
    border-radius: .25rem;
    width: 400px;
}

.inputFoto{
    color:#1F2226;
    border: 1px solid #1F2226;
}