.logo{
    width: 100%;
    height: 100%;  
}

.fotoPortada{
    width: 400px;
}

.col-xl-6 div{
	overflow: hidden;
}

.col-xl-6 img{
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: 1s;
	/* transform: rotateZ(10deg) scale(1.5); */
}

.col-xl-6 img:hover{
	transform: rotateZ(10deg) scale(1.5);
	transition: 1s;
}

h4{
	color: #FFC312;
}