<div class="container">

  <div class="row">
    <img class="logo mx-auto" src="../../assets/logo1bis2.png" alt="">
  </div>



  <div class="row">

    <div class="col-6">

      <div class="imagenes">

        <div>
          <img class="fotoPortada" src="../../assets/portada1.jpg" alt="">
        </div>
        <div>
          <img class="fotoPortada" src="../../assets/portada2.jpg" alt="">
        </div>
        <div>
          <img class="fotoPortada" src="../../assets/portada3.jpg" alt="">
        </div>
        <div>
          <img class="fotoPortada" src="../../assets/portada4.jpg" alt="">
        </div>

      </div>

    </div>

  </div>







</div>
