.añadir{
    background-color:#FFC312;
    color:black;
    border: 0px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: .25rem; 
}

.filtrar{
    background-color:#FFC312;
    color:black;
    border: 0px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: .50rem; 
}

h3{
    color:#FFC312;
}

.cuadro{
    border: 2px solid #FFC312;
    padding: 25px 25px;
    cursor:pointer;
    border-radius: .25rem;
}

label {
    color:#FFC312;
}

span{
    color:white;
    margin-left: 8px;
}
