<div class="container">
  <div class="row">
    <div class="col-xl-12 col-ml-8 col-xs-6 mx-auto text-center mt-5 mb-3">
      <button class="añadir" [routerLink]="['/formulario-ruta']">Agregar Ruta</button>
    </div>
  </div>

  <div class="row mt-4">
    
    <div *ngFor="let arrRutas of rutas" class=" cuadro col-xl-12 col-ml-8 col-xs-6 mx-auto text-center mt-5 mb-3">

        <h3 class="text-center">{{ arrRutas.titulo }}</h3>

        <label>Provincia: </label> <span class="arr">{{ arrRutas.provincia }}</span> <br>

        <label>Tipo de ruta: </label> <span class="arr">{{ arrRutas.tipo }}</span> <br>

    </div>
  
  </div>

</div>
