@import url('https://fonts.googleapis.com/css?family=Knewave');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Cuprum:400,700');

/* font-family: 'Knewave', cursive; */
/* font-family: 'Baloo Chettan', cursive; */

button{
    background-color:#FFC312;
    color:#1F2226;
    border: 0px;
    width: 250px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border-radius: .25rem; 
    font-family: 'Knewave', cursive;
}

.filtrar{
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: .25rem; 
}

.filtrado{
    color:#1F2226;
}

h3{
    color:#FFC312;
    font-family: 'Knewave', cursive;
}

.cuadro{
    border: 2px solid #FFC312;
    padding: 25px 25px;
    cursor:pointer;
    border-radius: .25rem;
    background-color: #1F2226;
}

label {
    color:#FFC312;
    font-family: 'Baloo Chettan', cursive;
}

span{
    color:white;
    margin-left: 8px;
}
<<<<<<< HEAD

.imagen{
        border-radius: 50%;
        width: 150px;
        height: 150px;
}

select{
    border-radius: .25rem;
}
=======
>>>>>>> parent of 2b358d6... pintado usuarios y foto de usuario en las rutas
