html {
    font-size: 14px;
    color: white ;
}

.container {
    background-color: #1F2226;
}

h1{
    color: #f8b500;
}

article{
    margin-top: 50px;
    margin-bottom: 80px;
}

label{
    color: #f8b500;
}

.boton{
    background-color: #f8b500;
}